<div class="pad-inline txt-align-center center margin-block-double txt-subtle txt-small">
  <strong><%= link_to "Fizzy™", "https://www.fizzy.do", class: "txt-subtle" %></strong> is designed, built, and backed by <strong class="txt-nowrap"><%= icon_tag "37signals", class: "v-align-middle" %> <a href="https://37signals.com" target="_blank" class="txt-subtle">37signals™</a></strong>.
  Need help? <%= mail_to "support@fizzy.do", "Send us an email", class: "txt-link" %>
</div>