<section id="the-stream" class="cards cards--considering" data-column-name="Maybe?"
  data-action="turbo:before-morph-attribute->collapsible-columns#preventToggle">
  <div class="cards__transition-container">
    <header class="cards__header">
      <div class="cards__expander">
        <h2 class="cards__expander-title" data-collapsible-columns-target="title">Maybe?</h2>
      </div>
    </header>

    <% if page.used? %>
      <%= with_automatic_pagination "the-stream", @page do %>
        <%= render "public/boards/columns/list", cards: page.records %>
      <% end %>
    <% else %>
      <div class="card blank-slate blank-slate--card">
        <p class="txt-align-center txt-normal">No cards here</p>
      </div>
    <% end %>
  </div>
</section>
