service: fizzy
image: basecamp/fizzy

servers:
  jobs:
    cmd: bin/jobs

volumes:
  - fizzy:/rails/storage

proxy:
  ssl: true

registry:
  server: registry.37signals.com
  username: robot$harbor-bot
  password:
    - BASECAMP_REGISTRY_PASSWORD

builder:
  arch: amd64
  secrets:
    - GITHUB_TOKEN
  remote: ssh://app@docker-builder-102
  local: <%= ENV.fetch("KAMAL_BUILDER_LOCAL", "true") %>

env:
  secret:
    - RAILS_MASTER_KEY

aliases:
  console: app exec -i --reuse "bin/rails console"
  ssh: app exec -i --reuse /bin/bash
  switch: accessory exec beamer --reuse "beamer switch --primary=<%= ENV["PRIMARY"] %>"

accessories:
  otel_collector:
    image: otel/opentelemetry-collector-contrib:0.126.0
    port: 9394
    files:
      - config/otel_collector.yml:/etc/otelcol-contrib/config.yaml
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    options:
      user: 0
    roles:
      - web
      - jobs
