<%= link_to collection_webhooks_path(collection_id: collection), class: ["btn tooltip", {"btn--reversed": collection.webhooks.any?}] do %>
  <%= icon_tag "world" %>
  <span class="for-screen-reader">Webhooks</span>
<% end %>
